*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

local.properties

*.iml
*.apk
*.ap_
*.dex
*.class

.gradle/
.idea/


bin/
gen/
out/
build/


# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

#NDK
obj/

*.sh

*.json

